/* Main */
.stApp {
    background-color: mintcream;
    color: darkgreen;
}

/* Sidebar */
[data-testid="stSidebar"] {
    background-color: honeydew;
    border-right: 1px solid seagreen;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: darkslategray !important;
}

/* Horizontal Rule */
hr {
    background-color: darkgreen !important;
}

/* Metrics */
[data-testid="stMetricValue"] {
    font-size: 1.3rem !important;
    color: darkslategray;
}

[data-testid="stMetricLabel"] {
    color: darkslategray !important;
}

/* Inputs */
[data-testid="stWidgetLabel"] p {
    color: darkslategray !important;
}

/* Buttons */
.stButton>button,
[data-testid="stDownloadButton"]>button,
[data-testid="stFileUploader"] button {
    background-color: seagreen !important;
    color: white !important;
    border: none !important;
}

.stButton>button:hover,
[data-testid="stDownloadButton"]>button:hover,
[data-testid="stFileUploader"] button:hover {
    background-color: darkslategray !important;
    color: white !important;
}

/* Data editor tooltips */
[data-testid="stTooltipContent"],
.st-emotion-cache-12w0qpk,
div[data-baseweb="popover"],
div[data-baseweb="tooltip"] {
    background-color: white !important;
    color: darkslategray !important;
    border: 1px solid honeydew !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important;
}