/* Main */
.stApp {
    background-color: #eaf7ed;
    color: #064e3b;
}

/* Sidebar */
[data-testid="stSidebar"] {
    background-color: #d6f2df;
    border-right: 1px solid #a3e6cd;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black !important;
}

/* Metrics */
[data-testid="stMetricValue"] {
    font-size: 1.3rem !important;
    color: black;
}
[data-testid="stMetricLabel"] {
    color: black !important;
}

/* Inputs */
[data-testid="stWidgetLabel"] p {
    color: black !important;
}

/* Buttons */
.stButton > button,
[data-testid="stDownloadButton"] > button,
[data-testid="stFileUploader"] button {
    background-color: #064e3b !important;
    color: white !important;
    border: none !important;
}

.stButton > button:hover,
[data-testid="stDownloadButton"] > button:hover,
[data-testid="stFileUploader"] button:hover {
    background-color: #047857 !important;
    color: white !important;
}